.home-items {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.home-item-left {
  width: 65%;
  margin-right: 2rem;
}

.home-item-right {
  width: 35%;
}

/* media queries */

@media only screen and (max-width: 480px) {
  .home-items {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    margin: 2rem;
  }
  .home-item-left {
    width: 100%;
  }
  .home-item-right {
    width: 100%;
  }
}





