.right-header-card {
  display: flex;
  width: 100%;
}

.right-header-detail {
  width: 100%;
  margin: .7rem;
}

.right-header-image {
  width: 160px;
}

.right-header-image img {
  width: 100%;
}

.right-header-details {
  display: flex;
  margin-top: -1.7rem;
}

.right-star {
  color: #00ACC1;
  width: 1.3rem;
}

.right-rating {
  color: #9fa0a1;
  font-size: .90rem;
}

.right-hd {
  color: #9fa0a1;
  margin-left: 1rem;
  font-size: .90rem;
}

.right-title {
  margin-top: -0.70rem;
  color: #ffffff;
  font-weight: 400;
  font-size: .90rem;
}
.extra-details {
  margin-top: -0.25rem;
}

.right-description {
  color: #9fa0a1;
  font-size: .80rem;
  line-height: 1.2rem;
}

.main-button {
  border: none;
  background-color: orange;
  width: 40%;
  padding: 5px;
  margin-top: 0.90rem;
  border-radius: 3px;
  cursor: pointer;
}

/* media queries */

@media only screen and (max-width: 480px) {
  .right-header-card {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .right-header-detail {
    width: 100%;
    margin: 0px;
  }
  .right-header-image {
    width: 100%;
  }
  .right-header-details {
    display: flex;
    margin-top: -.70rem;
  }
  .right-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-button {
    width: 100%;
    margin: 1rem;
  }
}












